@font-face {
  font-family: "Yekan";
  src: url("./fonts/yekan-font/WeblogmaYekan.eot");
  src: url("./fonts/yekan-font/WeblogmaYekan.eot?#iefix") format("embedded-opentype"),
    url("./fonts/yekan-font/WeblogmaYekan.woff2") format("woff2"),
    url("WeblogmaYekan.woff") format("woff"),
    url("./fonts/yekan-font/WeblogmaYekan.ttf") format("truetype"),
    url("./fonts/yekan-font/WeblogmaYekan.svg#WeblogmaYekan") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: 16px;
  --clr-primary-1: #f1f5f8;
  --clr-primary-2: #063251;
  --clr-primary-3: #a5d5f8;
  --clr-primary-4: #617d98;
  --clr-white: #ffffff;
  --clr-red: #e74c3c;
  --clr-green: #27ae60;
  --clr-black: #2d3436;
  --box-shadow-light: 0 5px 15px rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.2);
  --font-family-primary: "Yekan", sans-serif;
  --border-radius-low: 5px;
  --border-radius-hi: 10px;
  --border-radius-circle: 100%;
  --transition-linear: all 0.3 linear;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

* button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--clr-primary-1);
  max-height: 100vh;
  direction: rtl;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 40vh;
  margin-top: 10px;
  max-width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  row-gap: 20px;
  min-width: 40vw;
  min-height: 100%;
  background-color: var(--clr-white);
  box-shadow: var(--box-shadow-light);
  border-radius: var(--border-radius-low);
  padding: 15px 30px;
}

.main-container .header-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alert {
  margin-bottom: 20px;
  visibility: hidden;
  font-size: 1.1rem;
  font-weight: bold;
  animation: animate 0.6s ease-in-out 100ms infinite alternate-reverse;
}
@keyframes animate {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1.1);
  }
}

.main-container .header-container h1 {
  color: var(--clr-primary-2);
  font-size: 2rem;
}

.main-container .todo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container .input-todo {
  flex: 10 1 0;
  border: none;
  background-color: var(--clr-primary-1);
  color: var(--clr-primary-4);
  padding: 0.5rem 1.2rem;
  font-size: 1.7rem;
  font-family: inherit;
  border-radius: var(--border-radius-low);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.main-container .input-todo:focus {
  outline: none !important;
  box-shadow: 0 0 3px var(--clr-primary-4);
}

.main-container .button-todo {
  flex: 2 1 0;
  background-color: var(--clr-primary-3);
  border-radius: var(--border-radius-low);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0.65rem 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.main-container .button-todo:active {
  transform: scale(0.97);
}
.item-todo-container {
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-color: var(--clr-primary-3) var(--clr-white);
  scrollbar-width: 15px;
}

.item-todo-container::-webkit-scrollbar {
  width: 15px;
}

.item-todo-container::-webkit-scrollbar-track {
  background: var(--clr-white);
}

.item-todo-container::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary-3);
  border-radius: 8px;
}

.item-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 15px 3px 5px;
  padding: 14px 14px;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  max-width: 100%;
}

.item-todo:hover {
  background-color: var(--clr-primary-3);
}

.item-todo h1 {
  color: var(--clr-black);
  font-size: 1.4rem;
  margin-left: 20px;
}

.item-todo i:nth-child(2) {
  color: var(--clr-green);
  font-size: 1.6rem;
  margin-right: auto;
  margin-left: 2rem;
  cursor: pointer;
}

.item-todo i:nth-child(3) {
  color: var(--clr-red);
  font-size: 1.6rem;
  cursor: pointer;
}

.clear-all-container {
  display: none;
  justify-content: center;
  align-items: center;
}

.clear-all-container button {
  padding: 10px 20px;
  background-color: var(--clr-white);
  border-radius: 8px;
  color: var(--clr-red);
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid var(--clr-red);
  transition: all 0.2s ease-in-out;
}
.clear-all-container button:hover {
  background-color: var(--clr-red);
  color: var(--clr-white);
}

footer {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--clr-primary-5);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.68);
}
footer a i {
  color: red;
  animation: animate 1s ease-in-out 0s infinite;
}

@keyframes animate {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  25% {
    transform: scale(1.4);
    opacity: 1;
  }
  75% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .main-container {
    max-width: 90vw;
  }
  .alert {
    font-size: 0.8rem;
  }
  .main-container .header-container h1 {
    font-size: 1.5rem;
  }

  .main-container .input-todo {
    flex: 3 1 0;
    padding: 0.5rem calc(1.2rem - 0.8rem);
    font-size: calc(1.7rem - 0.5rem);
  }
  .main-container .button-todo {
    flex: 1 1 0;
    padding: 0.65rem calc(1rem - 0.5rem);
    font-size: calc(1.5rem - 0.5rem);
  }

  footer {
    font-size:0.8rem ;
  }
}
